@{
    ViewData["Title"] = "Employee";
}@*
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>150</h3>

                        <p>New Orders</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>53<sup style="font-size: 20px">%</sup></h3>

                        <p>Bounce Rate</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>44</h3>

                        <p>User Registrations</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div> *@
<!-- ./col -->
@*    <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>65</h3>

                        <p>Unique Visitors</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div> *@
<div class="row">

    <!-- small box number of proudect-->
    <div class="col-lg-3 col-6">
        <div class="small-box  bg-info">
            <div class="inner">
                <h3 id="productCount"></h3> <!-- Display the product count  -->
                <h4>Total Proudect</h4>
            </div>
            <div class="icon">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <a class="small-box-footer " asp-area="" asp-controller="Product" asp-action="Index">Show proudect <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <!-- small box number of order-->
    <div class="col-lg-3 col-6">
        <div class="small-box  bg-warning">
            <div class="inner">
                <h3 id="orderCount"></h3> <!-- Display the order  -->
                <h4>Total order</h4>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a class="small-box-footer " asp-area="" asp-controller="Admin" asp-action="DisplayOrders" class="nav-link">Show orders <i class="fas fa-arrow-circle-right"></i></a>

        </div>
    </div>

    <!-- small box payment -->
    <div class="col-lg-3 col-6">
        <div class="small-box  bg-success">
            <div class="inner">
                <h3 id="paymentCount"></h3> <!-- Display payment -->
                <h4>Total Payment</h4>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
            <a class="small-box-footer " asp-area="" asp-controller="Admin" asp-action="index">Paymen<i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- small box user register -->
    <div class="col-lg-3 col-6">
        <div class="small-box  bg-danger">
            <div class="inner">
                <h3 id="userCount"></h3> <!-- Display user -->
                <h4>User Registrations</h4>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a class="small-box-footer " asp-area="" asp-controller="Admin" asp-action="index">Paymen<i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>

<!-- /.row -->
<!--chart-->
<div class="row">
    <div class="col-lg-6">
        <!--brand-->
        <div id="productChartContainer">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/data.js"></script>
            <script src="https://code.highcharts.com/modules/drilldown.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <script src="https://code.highcharts.com/modules/accessibility.js"></script>
            <script src="/AadminLTE/plugins/sparklines/sparkline.js"></script>

            <figure class="highcharts-figure"> gttt
                <div id="container"></div>
                <p class="highcharts-description">

                </p>
            </figure>
        </div>
    </div>

    <!--rewiew-->
    <div class="col-lg-6">
        <div id="reviewChartContainer">
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/data.js"></script>
            <script src="https://code.highcharts.com/modules/drilldown.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <script src="https://code.highcharts.com/modules/accessibility.js"></script>
            <figure class="highcharts-figure">
                <div id="container"></div>
            </figure>
        </div>
    </div>

    <!--order sell by year-->
    <div class="col-lg-6">

        <div id="sellesChartContainer">
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/data.js"></script>
            <script src="https://code.highcharts.com/modules/sonification.js"></script>
            <script src="https://code.highcharts.com/modules/accessibility.js"></script>
            <figure class="highcharts-figure">
                <div id="controls">
                    <select id="preset"></select>
                    <button id="sonify">Play chart</button>
                </div>
                <div id="container"></div>
            </figure>
        </div>
    </div>

    <!--top3-->
    <div class="col-lg-6">
        <div id="Top3">
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/highcharts-3d.js"></script>
            <script src="https://code.highcharts.com/modules/cylinder.js"></script>
            <script src="https://code.highcharts.com/modules/funnel3d.js"></script>
            <script src="https://code.highcharts.com/modules/pyramid3d.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <script src="https://code.highcharts.com/modules/accessibility.js"></script>
            <figure class="highcharts-figure">
                <div id="container"></div>
            </figure>
        </div>
    </div>

</div>






<script src="~/js/dashboard.js"></script>
<script src="~/js/reviewdashbord.js"></script>
<script src="~/js/proudectcount.js"></script>
<script src="~/js/paymentdashbord.js"></script>
<script src="~/js/useregisterdasbord.js"></script>
<script src="~/js/orderdashbord.js"></script>
<script src="~/js/sellesbyyeardashbord.js"></script>
<script src="~/js/top3dasbord.js"></script>
<script src="~/js/sellesinyeardasbord2.js"></script>