@model Jumia.Dtos.ViewModel.ProuductViewModel

@{
    ViewData["Title"] = "Create Product";
}

<h1>Create Product</h1>

<body>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="StockQuantity">Stock Quantity</label>
            <input asp-for="StockQuantity" class="form-control" />
            <span asp-validation-for="StockQuantity" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SellerID">Seller</label>
            <select asp-for="SellerID" class="form-control" asp-items="ViewBag.Sellers"></select>
            <span asp-validation-for="SellerID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DateListed">Date Listed</label>
            <input asp-for="DateListed" class="form-control" type="date" />
            <span asp-validation-for="DateListed" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId">Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</body>
