  @model Jumia.Dtos.ViewModel.ProuductViewModel

@{

    ViewData["Title"] = "Edit";
}


<h1>Creat</h1>
<body>
    <a asp-action="Create">Add New Employee</a>

    <form method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />

            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StockQuantity"></label>
            <input asp-for="StockQuantity" class="form-control" />
            <span asp-validation-for="StockQuantity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="SellerID">Select SellerName</label>
            <select asp-for="SellerID" class="form-control" asp-items="ViewBag.Sellers"></select>
            <span asp-validation-for="SellerID" style="color:red"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateListed"></label>
            <input asp-for="DateListed" class="form-control" />
            <span asp-validation-for="DateListed" style="color:red"></span>
        </div>



        </div>

        <div>
            <label asp-for="CategoryId">Ctegory</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
            <span asp-validation-for="CategoryId" style="color:red"></span>
        </div>
        @*
        <div class="form-group">
        <label asp-for="IsDeleted"></label>
        <input asp-for="IsDeleted" class="form-control" />
        <span asp-validation-for="IsDeleted" style="color:red"></span>
        </div> *@
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>

</body>